@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
    background: rgb(17,17,17);
}
 /* Share style here */
.container{
    width: 90%;
    padding:50px 0;
    margin: 0 auto;
}
.btn-primary{
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
}
 .btn-secondary {
     padding: 14px 30px;
     font-size: 18px;
     border-radius: 30px;
     font-weight: 600;
     background-color: transparent;
     color: white;
     border: 1px solid white;
 }
.title{
    display: flex;
    gap:8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.title h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.title2{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.title2 h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.title2 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

/* header css start here */
header{
    background: linear-gradient( rgb(17, 17, 17),rgba(162, 160, 160, 0.108),rgb(17, 17, 17));
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
nav ul {
    list-style: none;
    display: flex;
    gap:40px;
    border:1px solid gray;
    border-radius: 20px;
}
nav .icon {
    display: none;
    font-size: 36px;
}
nav ul li {
    padding: 10px 30px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}
nav ul li:first-child{
    border-radius: 20px;
    background-color: rgb(230, 83, 60);
}

/* Banner design start here */
.banner{
    padding-top:60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.banner_content{
    width: 45%;
}
.banner_content h1{
    font-size: 78px;
    font-weight: 900;
}
.banner_content h1 span{
    font-family: 'Miama';
    font-weight: 400;
    font-size: 74px;
    font-style: italic;
}
.banner_content p{
    color: rgba(255, 255, 255, 0.5);
    padding: 30px 0;
    line-height: 28px;
}
.buttons{
    
    display: flex;
    flex-direction:row;
    gap: 20px;
}
.banner_img{
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_img img{
    object-fit: cover;
}
.workout_video{
    width: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    position: absolute;
    top:20%;
    right:15%;
}
.workout_video p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
}
.tutorial{
    width: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    position: absolute;
    bottom: 10%;
    left: 6%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.tutorial_content p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
}
.tutorial_icon{
    background: rgb(230, 83, 60);
    width: 40px;
    height:40px;
    border-radius: 50%;
}

/* Change Your Habit Section design start here */
.habits{
    padding:60px 0px;
    display: flex;
    gap:60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.habit{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap:10px
}
.habit img{
    border-radius: 50%;
}
.habit h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding-top:20px
}
.habit p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.extra_run{
    padding:50px 70px;
    background: rgb(34,34,34);
    border-radius: 18px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.extra_run_content{
    width: 30%;
    gap:30px;
    line-height:56px;
}
.extra_run_content p{
    line-height: 26px;
}
.extra_run_content button{
    width: 220px;
}
.extra_run img{
    width: 40%;
    border-radius: 18px;
}

/* BMI section design start here */
.bmi_section{
    margin-top:50px;
    background: rgb(34,34,34);
}
.bmi{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
}
table,th,td {
    border: 1px solid rgba(134, 130, 130, 0.507);
    border-collapse: collapse;

}
table th {
    text-align: start;
    padding: 10px;
}
table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}
.bmi_chart{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bmi_chart h3 {
    font-size: 28px;
}
.bmi_form{
    width: 60%;
}
.bmi_form h3{
    font-size: 28px;
}
.inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top:20px;
}
.inputs input{
    border:none;
    padding:15px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
select {
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
.activity{
    width: 100%;
    margin:10px 0px 20px 0px;
}
.bmi_form button{
    width:200px;
    font-weight: 400;
}

/* Meet Our team Section Start here */
.teams{
    padding:20px;
    background: rgb(34,34,34);
    border-radius: 8px;
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.team{
    position: relative;
    overflow: hidden;
    border-radius:8px;
    width: 100%;
}
.team img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}        
.team_content{
    position: absolute;
    left:3%;
    bottom: 3%;
}
.team h3{
    font-size:18px;
}
.team p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
/* our pricing section here */
.price_title{
    color: rgb(230, 83, 60) !important;
}
.pricing_section {
    color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    text-align: center;
    padding-top: 40px;
}
.prices{
    background: rgb(34, 34, 34);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.prices h5{
    font-size: 20px;
    color: white;
}
.price{
    color: rgb(230, 83, 60);
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}
.prices li{
    list-style: square;
}
.btn{
    background: rgb(230, 83, 60);
    color:aliceblue;
    border:none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
}
/* Trainings section start here */
.exercises_row {
    display:grid;
    grid-template-columns: repeat(1, 0.5fr 1fr 0.5fr);
    padding-top: 40px;
    
}
.i1{
    background: linear-gradient(rgba(74, 139, 193, 0.5) 100%, rgba(75, 111, 189, 0.5)100%), url("./images/exercise1.jpg");
    background-size: cover;
}
.i2 {
    background: linear-gradient(rgba(190, 75, 75, 0.5) 100%, rgba(118, 72, 72, 0.5)100%), url("./images/exercise2.png");
    background-size: cover;
}
.i3 {
    background: linear-gradient(rgba(113, 190, 75, 0.5) 100%, rgba(111, 186, 64, 0.5)100%), url("./images/exercise3.png");
    background-size: cover;
}
.i4 {
    background: linear-gradient(rgba(106, 60, 186, 0.5) 100%, rgba(70, 68, 160, 0.5)100%), url("./images/exercise4.png");
    background-size: cover;
}
.i5 {
    background: linear-gradient(rgba(63, 58, 58, 0.5) 100%, rgba(90, 85, 85, 0.5)100%), url("./images/exercise5.jpg");
    background-size: cover;
}
.i6 {
    background: linear-gradient(rgba(201, 89, 197, 0.5) 100%, rgba(118, 72, 72, 0.5)100%), url("./images/exercise6.jpg");
    background-size: cover;
}
.exercise {
    height: 280px;
    position: relative;
    overflow: hidden;
}
.exercise_content{
    position: absolute;
    left: 3%;
    bottom: 3%;}
.exercise img{
    width: 100%;
    height: 100%;
}
/* Footer design start here */
footer{
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255, 0.5);
    line-height: 26px;
}
.ftr_contents{
    display:flex;
    justify-content:space-between
}
.ftr_content{
    width: 45%;
}
.ftr_content h1{
    font-style: italic;
    color:rgb(230, 83, 60);
    padding-bottom:20px;
}
.ftr_navbar {
    width: 45%;
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.ftr_nav h2{
    color: white;
    padding-bottom: 20px;
}
.author{
    text-align:center;
    border-top:1px solid rgba(255, 255, 255, 0.5);
    margin-top:40px;
    padding-top:40px;
}
/* responsive style start here */
/* Mobile device design start here */
/* header responsive start here */
@media only screen and (max-width: 576px) {
    .btn-primary {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 30px;
        font-weight: 500;
        background-color: rgb(230, 83, 60);
        color: white;
        border: none;
    }
    .title h1 {
        font-size: 32px;
    }
    .btn-secondary {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 30px;
        font-weight: 500;
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }
    nav ul{
        display: none;
    }
    nav .icon {
        display: block;
    }
    .banner {
        flex-direction: column ;
    }
    .banner_content{
        width: 100%;
    }
    .banner_img {
        width: 100%;
    }
    .workout_video {
        top: 31%;
        right: 5%;
    }
    .habits {
        flex-direction: column;

    }
    .extra_run {
        padding:20px;
        flex-direction: column;
    }
    .extra_run_content {
        width: 100%;
        gap: 20px;
    }
    .extra_run_content button {
        width: 100%;
    }
    .extra_run img {
        width: 100%;
    }
    .bmi {
        flex-direction: column;
    }
    .bmi_chart {
        width: 100%;
    }
    .bmi_form {
        width: 100%;
    }
    .teams{
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing_section {
        grid-template-columns: repeat(1, 1fr);
    }
    .exercises_row {
        grid-template-columns: repeat(1, 1fr 1fr);
    }
    .plus{
        display: none ;
    }
    .ftr_contents {
        flex-direction: column;
        gap:20px
    }
    .ftr_content {
        width: 100%;
    }
    .ftr_navbar {
        width: 100%;
        flex-direction: column;
        gap:20px;
    }

}




/* Tablet device design start here */
/* header responsive start here */
@media only screen and (min-width: 576px) and (max-width:992px) {
    nav ul{
        display: none;
    }
    nav .icon {
        display: block;
    }
    .banner {
        flex-direction: column ;
    }
    .banner_content{
        width: 100%;
    }
    .banner_img {
        width: 100%;
    }
    .banner {
        flex-direction: column;
    }
    .banner_content {
        width: 100%;
    }
    .banner_img {
        width: 100%;
    }
    .habits {
    flex-wrap: wrap;

    }
    .extra_run {
        padding: 20px;
    }
    .extra_run_content {
        width: 50%;
        gap: 20px;
    }
    .extra_run img {
        width: 50%;
    }
    .bmi {
        flex-direction: column;
    }
    .bmi_chart {
        width: 100%;
    }
    .bmi_form {
        width: 100%;
    }
    .pricing_section {
        grid-template-columns: repeat(2, 1fr);
    }
    .exercises_row {
        grid-template-columns: repeat(1, 1fr 1fr 1fr);
    }
    .ftr_contents {
        flex-direction: column;
        gap: 20px
    }
    .ftr_content {
        width: 100%;
    }
    .ftr_navbar {
        width: 100%;
        justify-content: initial;
        gap:90px;
    }


}